* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

body {
    background-color: rgb(235, 234, 234);
}

.logo-boolean {
    vertical-align: top;
}

h1 {
    display: inline-block;
    font-weight: bolder;
    font-size: 50px;
}

main {
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;

}

section {
    background-color: white;
    padding-left: 40px;
}